.wrapper {
    grid-area: nav;
    height: 90%;
    width: 150px;
    /* background-color: rgb(209, 138, 138); */
    border-right: 1px solid rgba(78, 67, 67, 0.3);
    padding: 20px 20px;
    margin-right: 15px ;
    position: fixed;
}

.item {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.item a {
    color: rgb(121, 130, 170);
    text-decoration: none;
    width: 100%;
}

.item a.active {
    color: rgb(37, 40, 65);
    font-size: 22px;
}

.item a:hover {
    color: rgb(118, 138, 240);
}

.item:last-child {
    margin-top: 50px;
}

.logo img {
    width: 50px;
    margin-bottom: 50px;
}