
.wrapper {
  display: grid;
  grid-template-areas: 
  "nav header"
  "nav content1";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1200px;
  margin: 15px auto;
  overflow: hidden;
}

.content {
  grid-area: content1;
  margin-top: 15px;
  padding: 0 20px;
  border-radius: 10px;
  overflow: hidden;
  color: rgb(39, 42, 61);
}

input::-webkit-input-placeholder { color: rgba(121, 130, 170, 0.5) }
input::-moz-placeholder          { color: rgba(121, 130, 170, 0.5) } 
input:-moz-placeholder           { color: rgba(121, 130, 170, 0.5) } 
input:-ms-input-placeholder      { color: rgba(121, 130, 170, 0.5) }