
.app-wrapper {
  display: grid;
  grid-template-areas: 
  "nav header"
  "nav content1";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1200px;
  margin: 15px auto;
  overflow: hidden;
}
